<div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Options</h4>
                </div>
                <div class="panel-body">

                        <div class="form-group">
                            <label for="clientSelect" class="col-md-2 control-label">Select Client</label>
                            <div class="col-md-10">
                                <select id="clientSelect" class="form-control">
                                <option *ngFor="let client of clientOptions" >{{client}}</option>
                                
                                </select>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-raised">Client</a>
                            <a href="#" class="btn btn-default btn-raised dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Client 1</a></li>
                                <li><a href="#">Client 2</a></li>
                                <li><a href="#">Client 3</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                </div> <!-- end of panel-body -->
              
            </div> <!-- end of panel-default -->